// Colors
$color__black:          #000000;
$color__white:          #FFFFFF;
$color__blue:           #53cbeb;
$color__metalblack:     #000d15;

$color__gray:           #9a9a9a;
$color__yellow:         #ecb10f;
$color__red:            #fb4a04;
$color__silver:         #ebebeb;



// Font Family
$ff-barlow: 'Barlow', sans-serif;