.cta {
    padding: 30px 0 70px;

    .cta-inner {
        @include xl-devices {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    h2 {
        font-size: 20px;
        line-height: 1.65;
        @include sm-devices {
            font-size: 22px;
        }
        @include md-devices {
            font-size: 26px;
        }

    }
    .button a {
        border: 2px solid $color__blue;
        color: $color__blue;
        padding: 10px 16px;
        display: inline-block;
        font-weight: 400;
        font-size: 13px;
        transition: all 0.3s;
        margin: 20px 0 0 0;

        @include sm-devices {
            font-size: 16px;
        }
        @include xl-devices {
            font-size: 20px;
            padding: 16px 35px;
            margin: 0 0 0 40px;
        }
        svg {
            margin-right: 10px;
        }

        &:hover {
            background-color: $color__blue;
            color: $color__metalblack;
        }
    }
}